<a href="https://colab.research.google.com/github/jbui009/big-data-challenge/blob/main/MobileApps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.0.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [806 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,596 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,474 kB]
Get:18 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [76.8 kB]
Get:20 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [930 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,827 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [936 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,252 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,035 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [840 kB]
Get:26 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [42.8 kB]
Fetched 15.1 MB in 10s (1,487 kB/s)
Reading package lists... Done

Dependencies for importing/connecting to SQLalchemy

In [2]:
from sqlalchemy import create_engine
import pandas as pd

Creating a connection

In [3]:
CONN = f"postgresql+psycopg2://postgres:lGtQrtKVXnyU9Fms9r8K@aws-reviews.cephpaqhv83w.us-east-2.rds.amazonaws.com:5432/reviews"
# database connection
engine = create_engine(CONN)

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [4]:
 !wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2022-03-01 01:22:38--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  --.-KB/s    in 0.1s

2022-03-01 01:22:38 (5.98 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("MobileAppsCloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [6]:
from pyspark import SparkFiles
url ="https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Mobile_Apps_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("amazon_reviews_us_Mobile_Apps_v1_00.tsv.gz"), sep="\t", header=True)

df.show(5)

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+---------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+---------------+--------------------+-----------+
|         US|    1774101|R3PMQXEVYR4ZT1|B00DVKOYBM|     263046246|         8 Ball Pool|     Mobile_Apps|          3|            0|          0|   N|                Y|            Fun|It is a fun game ...| 2015-08-31|
|         US|   13679234|R1I1K3EO98EMUV|B00R1IA4RS|     128868854|Christmas Cookie ...|     Mobile_Apps|          5|            0|          0|   N|                Y|     Five Stars|Fun cute game.  S...| 2015-08-31|
|         US|   15056632|R3K23URSI2MY42|B01069LGHK|     955481764|Relax Melodies Pr...|     Mobile_Apps|          5|            4|          4|   N|                Y|    Great app !|It's a very nice ...| 2015-08-31|
|         US|   52477711| RH2P770T10X38|B00X64ZKM0|     455029830|  Star Trek™ Trexels|     Mobile_Apps|          5|            0|          0|   N|                Y|        awesome|I am a huge star ...| 2015-08-31|
|         US|   15021042| RV9YBAW8CWFYN|B00KIZO238|     685358159|      Weather Friend|     Mobile_Apps|          1|            0|          0|   N|                Y| Don't like it.|I get better info...| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+---------------+--------------------+-----------+
only showing top 5 rows

# Cleaning the Dataframe

Drop duplicates and incomplete rows

In [7]:
print(df.count())
df =df.dropna();
print(df.count())

print(df.count())
df=df.drop_duplicates()
print(df.count())

5033376
5033238
5033238
5033238

Print in schema then change string type

In [8]:
df.printSchema()

root
 |-- marketplace: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- review_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_parent: string (nullable = true)
 |-- product_title: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- star_rating: string (nullable = true)
 |-- helpful_votes: string (nullable = true)
 |-- total_votes: string (nullable = true)
 |-- vine: string (nullable = true)
 |-- verified_purchase: string (nullable = true)
 |-- review_headline: string (nullable = true)
 |-- review_body: string (nullable = true)
 |-- review_date: string (nullable = true)

In [9]:

from pyspark.sql.functions import *
from pyspark.sql.functions import col
from pyspark.sql.types import StringType,BooleanType,DateType
df =df.withColumn('review_date',col('review_date').cast(DateType()))

df.printSchema()

root
 |-- marketplace: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- review_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_parent: string (nullable = true)
 |-- product_title: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- star_rating: string (nullable = true)
 |-- helpful_votes: string (nullable = true)
 |-- total_votes: string (nullable = true)
 |-- vine: string (nullable = true)
 |-- verified_purchase: string (nullable = true)
 |-- review_headline: string (nullable = true)
 |-- review_body: string (nullable = true)
 |-- review_date: date (nullable = true)

In [10]:
review_id_df= df.select(['review_id','customer_id','product_id','product_parent','review_date'])
review_id_df.show()

+--------------+-----------+----------+--------------+-----------+
|     review_id|customer_id|product_id|product_parent|review_date|
+--------------+-----------+----------+--------------+-----------+
|R1004E2Q9GNK0X|   42549410|B005XQLBU4|     464872742| 2015-04-04|
|R1007PYPFDDGVX|    6174184|B009KS4XRO|     490050721| 2014-03-05|
|R1007WCV4QRLNG|   11902108|B00ATDOVNK|     519315001| 2013-01-26|
|R1009WBZG5V78G|   29303557|B00FAI2IUM|     900991309| 2015-07-08|
|R100BR0ZNQVPJK|   51124520|B00NG6CIKA|     985585723| 2015-01-26|
|R100JN8KBE9F9C|   11416458|B00GRBESP4|     609209651| 2014-08-02|
|R100OA8RSE9MFC|   46416338|B00E8KLWB4|     488246640| 2015-07-19|
|R100QCVNR5J92R|   27033827|B0097HTPE4|     554042181| 2012-10-21|
|R100T4P8XWEGN2|   14091623|B00BIK524A|     454994353| 2014-05-08|
|R100UKJQ88UESQ|   42915717|B0052AZJV8|     260966219| 2015-08-16|
|R1012OJCOW2YGR|   31030939|B00CPZ7DBW|     788907793| 2014-08-21|
|R1016YYC2UMN3U|    1252887|B005ZFOOE8|     447864507| 2014-07-05|
|R101B5YVRNYI4I|   10816510|B00A0SQBDM|     972598229| 2014-02-08|
|R101LHFD8HJVMM|    8042403|B005ZFOOE8|     447864507| 2015-06-26|
|R101TLU75H5F74|    5005229|B00FOYE7IS|     626894118| 2013-12-10|
| R101W3VP5Z7K7|   28276880|B004NWQC94|     673194548| 2011-07-06|
|R1021IUP1UHV0O|   49283662|B00BJSJKJ4|     657437409| 2013-05-20|
|R1022GYB69OY60|   18774316|B00FATEJYE|     716335547| 2015-08-05|
|R1029D0RVIEVZ2|   50307879|B005V2S7FW|      60591995| 2015-05-01|
|R102O94UKKKNS2|   15129972|B005K17RU0|     423318367| 2012-03-21|
+--------------+-----------+----------+--------------+-----------+
only showing top 20 rows

In [11]:
review_id_cleaned_df = review_id_df.select("review_id").drop_duplicates()

In [12]:
products_df = df.select(['product_id','product_title'])
products_df.show()
df.select(['customer_id']).distinct().count()
customers_df=df.groupby('customer_id').agg(count('customer_id').alias('customer_count'))
customers_df.show()

+----------+--------------------+
|product_id|       product_title|
+----------+--------------------+
|B005XQLBU4|    Missile Defender|
|B009KS4XRO|BINGO BLITZ: Play...|
|B00ATDOVNK|Abyss: The Wraith...|
|B00FAI2IUM|GT Racing 2: The ...|
|B00NG6CIKA|Solitaire TriPeak...|
|B00GRBESP4|Just Four Words -...|
|B00E8KLWB4|The Secret Societ...|
|B0097HTPE4|Word Link - Fun a...|
|B00BIK524A|Mahjong Venice My...|
|B0052AZJV8|imo free video ca...|
|B00CPZ7DBW|     Jump Birdy Jump|
|B005ZFOOE8|iHeartRadio – Fre...|
|B00A0SQBDM|Nightmares from t...|
|B005ZFOOE8|iHeartRadio – Fre...|
|B00FOYE7IS|     Guess Zoom Quiz|
|B004NWQC94|            Textfree|
|B00BJSJKJ4|              Boggle|
|B00FATEJYE|Injustice: Gods A...|
|B005V2S7FW|            LastPass|
|B005K17RU0|AccuWeather with ...|
+----------+--------------------+
only showing top 20 rows

+-----------+--------------+
|customer_id|customer_count|
+-----------+--------------+
|   39329663|            23|
|   14054253|             4|
|   46765565|             3|
|   38013999|             4|
|   13073094|             2|
|   13092618|             2|
|     875164|             1|
|   43238024|             9|
|   47295518|            13|
|   28059157|             1|
|   44320490|            11|
|     296450|             1|
|   18539684|             6|
|   31994287|             7|
|   19552030|             1|
|   39847250|            18|
|   21663092|             3|
|   15753564|             1|
|   51764973|            12|
|   26377684|            54|
+-----------+--------------+
only showing top 20 rows

In [13]:
customer_df = df.groupby('customer_id').agg(count('customer_id').alias('customer_count'))

In [14]:
customer_df.show()

+-----------+--------------+
|customer_id|customer_count|
+-----------+--------------+
|   39329663|            23|
|   14054253|             4|
|   46765565|             3|
|   38013999|             4|
|   13073094|             2|
|   13092618|             2|
|     875164|             1|
|   43238024|             9|
|   47295518|            13|
|   28059157|             1|
|   44320490|            11|
|     296450|             1|
|   18539684|             6|
|   31994287|             7|
|   19552030|             1|
|   39847250|            18|
|   21663092|             3|
|   15753564|             1|
|   51764973|            12|
|   26377684|            54|
+-----------+--------------+
only showing top 20 rows

In [15]:
vine_df = df.select(['review_id','star_rating','helpful_votes','total_votes','vine'])
vine_df.show()

+--------------+-----------+-------------+-----------+----+
|     review_id|star_rating|helpful_votes|total_votes|vine|
+--------------+-----------+-------------+-----------+----+
|R1004E2Q9GNK0X|          3|            0|          0|   N|
|R1007PYPFDDGVX|          4|            0|          0|   N|
|R1007WCV4QRLNG|          5|            0|          0|   N|
|R1009WBZG5V78G|          5|            1|          1|   N|
|R100BR0ZNQVPJK|          4|            0|          0|   N|
|R100JN8KBE9F9C|          3|            0|          0|   N|
|R100OA8RSE9MFC|          4|            0|          0|   N|
|R100QCVNR5J92R|          5|            2|          3|   N|
|R100T4P8XWEGN2|          5|            0|          0|   N|
|R100UKJQ88UESQ|          1|            0|          0|   N|
|R1012OJCOW2YGR|          4|            0|          0|   N|
|R1016YYC2UMN3U|          5|            0|          1|   N|
|R101B5YVRNYI4I|          4|            0|          0|   N|
|R101LHFD8HJVMM|          4|            0|          0|   N|
|R101TLU75H5F74|          5|            0|          0|   N|
| R101W3VP5Z7K7|          5|            5|          5|   N|
|R1021IUP1UHV0O|          3|            0|          0|   N|
|R1022GYB69OY60|          2|            0|          0|   N|
|R1029D0RVIEVZ2|          5|            0|          0|   N|
|R102O94UKKKNS2|          5|            0|          0|   N|
+--------------+-----------+-------------+-----------+----+
only showing top 20 rows

# Configure settings for RDS

# Configure settings for RDS--- # Write DataFrame to each table in RDS

In [16]:
# Protect password
from getpass import getpass
password = getpass('password')

password··········

In [17]:
mode = "append"
jdbc_url="jdbc:postgresql://mydbinstance.ccn4uoh5hvud.us-east-1.rds.amazonaws.com:5432/mobile_apps_db"
configuration = {"user": "postgres", 
          "password": password, 
          "driver": "org.postgresql.Driver"}

In [18]:
review_id_df.write.jdbc(url=jdbc_url, table='review_id_table', mode=mode, properties=configuration)

In [19]:
products_df.write.jdbc(url=jdbc_url, table='products', mode=mode, properties=configuration)

Py4JJavaError: ignored

In [ ]:
customers_df.write.jdbc(url=jdbc_url, table='customers', mode=mode, properties=configuration)

In [ ]:
vine_table_df.write.jdbc(url=jdbc_url, table='vine_table', mode=mode, properties=configuration)